root = true

[*]#适用于所有文件
charset = utf-8#设置字符集
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true#去除行首的任意空白字符
insert_final_newline = true#在文件末尾加一个新行

[*.md]#md文件适用如下配置
max_line_length=off
trim_trailing_whitespace = false
